@use '../../mixin/_vars.scss' as gVars;


.faqs{
    width:100vw;
    height:100%;
    padding: calc(1.5rem + var(--navHeight))  gVars.$side-padding;
    font-size:1.4rem;
    
}

.header{
    font-size:2em;
    margin-bottom:1.5rem;
}

.question{
    padding:0 1rem;
    font-size:inherit;
    &::before{
        content:"•";
        position:absolute;
        top:0;
        left:0;
    }
    &::before,
    h4{
        font-size:1.1em;
    }
    p{
        font-size:0.9em;
        padding: 0.7rem 1rem;
    }
}